body {
    background-color:#e7a3cf;
    transition: background-color 2s;
}
body:hover{
    background-color:#f8d4fa;
    transition: background-color 2s;
}
#main-alt {
    margin: 25px auto;
    text-align:center;
}
#main-alt #title{
    font-family: 'Sarina', cursive;
    font-size:3em;
    text-shadow: 1px 3px 1px #AAA;
    color:#6a0671;
}
#main-alt #subtitle {
    font-family: 'Gorditas', cursive;
    font-size: 1em;
    margin-top:-5px;
    text-transform:uppercase;
    font-style:italic;
    color:#222;
}
#main-alt #nav {
    margin: 5px;
}
#main-alt #nav span{
    font-family: 'Lemon', cursive;
    font-size: 1em;
    display:inline-block;
    vertical-align:middle;
    margin: 5px;
    padding: 3px 8px;
    border: 3px solid #8886ff;
    background-color: #4c4f81;
    border-radius:10px;
    text-transform:uppercase;
    color:#EEE;
}
#main-alt #nav span a {
    text-decoration:none;
    color:inherit;
}
#contents {
    width:50%;
    margin: 10px auto;
    text-align:justify;
    background-color:#FFFFFF66;
    padding:8px 30px;
    border-radius:20px;
    border:5px solid lightsteelblue;
    display:table;
}
.unselectable {
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    -a-user-select: none;
}