body,html{height:99%; display:grid;}
body {
    background-color:#e7a3cf;
    transition: background-color 2s;
}
body:hover{
    background-color:#f8d4fa;
    transition: background-color 2s;
}
#main {
    margin:auto;
    text-align:center;
}
#main #title{
    font-family: 'Sarina', cursive;
    font-size:5em;
    text-shadow: 1px 3px 1px #AAA;
    color:#6a0671;
}
#main #subtitle {
    font-family: 'Gorditas', cursive;
    font-size: 1.5em;
    margin-top:-10px;
    text-transform:uppercase;
    font-style:italic;
    color:#222;
}
#main #nav {
    margin: 5px;
}
#main #nav span{
    font-family: 'Lemon', cursive;
    display:inline-block;
    vertical-align:middle;
    margin: 10px;
    padding: 3px 8px;
    border: 3px solid #8886ff;
    background-color: #4c4f81;
    border-radius:10px;
    text-transform:uppercase;
    color:#EEE;
}
#main #nav span a {
    text-decoration:none;
    color:inherit;
}
#main #nav span a:focus {
    outline:0;
}
.unselectable {
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    -a-user-select: none;
}